.App {
  text-align: center;
  font-family: "Comfortaa";
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#homepage {
  color: white;
  text-align: center;
  font-family: "Comfortaa";
  background: linear-gradient(#7bd5f5, #787ff6);
}

#homepage-text {
  text-align: center;
  padding: 10px;
  text-align: center;
  padding: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin: 5px;
  max-width: 800px;
  margin: auto;
  justify-content: center;
  margin-bottom: 40px;
}

#title {
  font-size: 80px;
  padding-top: 40px;
  margin-bottom: 0px;
}

#button {
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Comfortaa";
}

#connect-button {
  margin: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 20px;
}

#grant-button {
  /* backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%); */
  background: white;
  color: #787ff6;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 150px;
}

.box-div {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 30px;
}

.boxes {
  padding: 15px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin: 10px;
  width: 220px;
}

.box-title {
  justify-content: space-around;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

#links {
  color: white;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  margin-right: 20px;
  font-size: 30px;
}

#links-grant {
  color: #787ff6;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}
