html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}
body {
  height: 100%; /* force the BODY element to match the height of the HTML element */

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Comfortaa", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
